.idea/
cmake-build-debug/
.build/
.cmake_build/

ex2.asm
ex1.asm
PlantUML/Operations/Operations.png
PlantUML/Operations.wsd
PlantUML/Compiler/Compiler.png
PlantUML/Compiler.wsd
PlantUML/Cards/Cards.png
PlantUML/Cards.wsd
